/* PT Sans */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2"),
    url("../fonts/ptsans-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2"),
    url("../fonts/ptsans-700.woff") format("woff");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #fbf7f4;
  background-image: url("/images/noisy-texture.png");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button {
  display: inline-block;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover,
.footer-social__link:hover,
.card-grid-toggle:hover,
.pagination__link:hover,
.slider__button:hover {
  background-color: #814b18;
}

.button:focus,
.footer-social__link:focus {
  outline: 2px solid #dbb590;
  background-color: #814b18;
}

.button:disabled {
  color: #e7e7e7;
  background-color: #595959;
  cursor: initial;
}

.button:disabled:hover {
  color: #e7e7e7;
  background-color: #595959;
  cursor: default;
}

.button+.button {
  margin-left: 16px;
}

.button--all {
  padding-right: 44px;
  background-image: url("../images/icons/angle-right.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  background-size: 16px 16px;
}

.button--feedback {
  color: #000000;
  background-color: #ffffff;
}

.button--feedback:hover {
  color: #242424;
  background-color: #dbb590;
}

.button--feedback:focus {
  outline: 2px solid #af7842;
  color: #242424;
  background-color: #dbb590;
}

.button--light {
  color: #242424;
  background-color: #ffffff;
}

/* Шапка */
.page-header {
  color: #ffffff;
  background-color: #000000;
}

/* Навигация */
.navigation {
  display: flex;
  align-items: center;
  width: 940px;
  margin: 0 auto;
}

.navigation__logo {
  display: block;
  width: 140px;
  margin-right: 100px;
}

.navigatioin__item {
  position: relative;
}


.navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 430px;
  list-style-type: none;
}

.navigation__list--user {
  max-width: 250px;
  margin-left: auto;
}

.navigation__link {
  position: relative;
  display: block;
  padding: 24px 19px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  line-height: 22px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation__link--current::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 20px;
  left: 20px;
  height: 4px;
  background-color: #ffffff;
}

.navigation__link:hover {
  background-color: #595959;
}


.navigation__link:focus {
  box-shadow: inset 0 0 0 4px #e7e7e7;
  outline: none;
}


.navigation__link--login {
  padding-left: 44px;
}


.navigation__list--user .navigation__link {
  min-width: 16px;
  min-height: 70px;
}

.navigation__icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  margin: auto;
  fill: #c4c4c4;
}

.navigation__link:hover .navigation__icon {
  fill: #242424;
}

.navigation__link:focus .navigation__icon {
  fill: #c4c4c4;
}


.navigation__link--login .navigation__icon {
  right: auto;
  left: 20px;
  margin: auto 0;
}

/* Main */
.main-container {
  flex-grow: 1;
}

.main--index {
  padding-top: 64px;
  padding-bottom: 61px;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/index-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main--inner {
  padding-top: 40px;
  padding-bottom: 60px;
}

/* Page-container */
.page-container {
  width: 940px;
  margin: 0 auto;
}

/* Логотип */
.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 64px;
}

/* Преимущества */
.advantages {
  margin-bottom: 58px;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.advantages__item {
  width: 277px;
}

.advantages__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 56px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

.advantages__title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -40px;
  margin-left: -9px;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

/* Index-columns */
.index-columns {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
  padding: 40px;
  color: #242424;
  background-color: #fbf7f4;
  background-image: url("../images/noisy-texture.png");
}

.index-columns:last-child {
  margin-bottom: 0;
}

.index-columns::after {
  position: absolute;
  content: "";
  width: 0;
  top: 40px;
  bottom: 40px;
  border-right: 1px dashed #595959;
}

.index-columns:first-of-type::after {
  left: 470px;
}

.index-columns:last-of-type::after {
  left: 430px;
}

.advantages__description {
  margin: 0;
}

/* Популярные услуги */
.services {
  width: 390px;
  text-transform: uppercase;
}

.services__list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  list-style-type: none;
}

.services__item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 22px;
}

.services__item:last-child {
  margin-bottom: 0;
}

.services__item::before {
  flex-grow: 1;
  order: 2;
  margin-left: 16px;
  margin-right: 16px;
  border-bottom: 2px dotted rgba(89, 89, 89, 0.5);
  content: "";
}


.services__title {
  margin-top: 0;
  margin-bottom: 28px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
}

.services__price {
  order: 3;
  color: #af7842;
}

/* Галлерея */
.gallery {
  width: 390px;
}

.gallery__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

/* Slider */
.slider__wrapper {
  position: relative;
}

.slider__image {
  display: block;
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider__button {
  padding: 0;
  width: 48px;
  height: 60px;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/icons/angle-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  border: none;
  cursor: pointer;
}

.slider__button-next {
  transform: rotate(180deg);
}

.slider__pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider__pagination-item {
  margin: 0 4px;
}

.slider__pagination-button {
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  color: #ffffff;
  background-color: #bdbdbd;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.slider__pagination-button:hover {
  background-color: #af7842;
}

.slider__pagination-button:focus {
  background-color: #dbb590;
  outline: none;
}

.slider__pagination-button--current,
.slider__pagination-button--current:hover,
.slider__pagination-button--current:focus {
  background-color: #242424;
}



/* Контакты */
.contacts {
  width: 350px;
  font-weight: 700;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

.contacts__subtitle {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #af7842;
  text-transform: uppercase;
}

.contacts__address {
  margin-bottom: 22px;
  font-style: normal;
}

.contacts__address-text {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: "PT Sans", sans-serif;
}

.contacts__phone {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #242424;
}

.contacts__shedule {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contacts__navigation {
  margin-top: 21px;
  margin-bottom: 0;
  display: flex;
}

/* Форма записи */
.appointment {
  width: 430px;
}

.appointment__form {
  display: grid;
  grid-template-columns: 115px 74px 208px;
  gap: 14px 16px;
}


.appointment__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

.appointment__text {
  margin-top: 0;
  margin-bottom: 24px;
  color: #595959;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.appointment__form-label {
  position: relative;
  padding-right: 16px;
  margin-bottom: 8px;
}

.appointment__form-label-text {
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.info {
  position: absolute;
  margin-top: 6px;
  margin-left: 4px;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../images/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
  border: none;
  cursor: pointer;
}

.field {
  margin: 0;
  padding: 10px 16px;
  width: 100%;
  font: inherit;
  font-weight: 700;
  color: #242424;
  background-color: #ffffff;
  border: 2px solid #242424;
}

.field::placeholder {
  color: #bdbdbd;
}

.field:hover,
.field:focus {
  border-color: #af7842;
}

.field:focus {
  outline: 2px solid #dbb590;
}

.field:disabled,
.field:disabled:hover {
  color: #595959;
  background-color: #dbb590;
  border-color: #595959;
}

.field:invalid {
  box-shadow: none;
}

.field.error {
  border-color: #ea5454;
}

.appointment__form-name {
  grid-column: 1/-1;
}

.appointment__form-submit {
  grid-column: 1/-1;
  justify-self: start;
  margin-top: 10px;
}

/* Футер */
.page-footer {
  padding: 40px 0;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: #242424;
  background-image: url("../images/noisy-texture.png");
}

.page-footer__container {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.footer-contacts__logo {
  display: block;
  margin-bottom: 24px;
}

.footer-contacts {
  width: 200px;
  margin-right: 130px;
}

.footer-contacts__address {
  margin-bottom: 16px;
}

.footer-contacts__address-text {
  margin-top: 0;
  margin-bottom: 4px;
  line-height: 22px;
}

.footer-contacts__phone {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: inherit;
}

.footer-contacts__link {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  text-transform: uppercase;
}

.newsletter-form__block {
  display: flex;
}

.newsletter-form {
  width: 277px;
}

.newsletter-form__email {
  flex-grow: 1;
  margin: 0;
}

.newsletter-form__title {
  margin-top: 0;
  margin-bottom: 14px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.newsletter-form__button {
  width: 56px;
  height: 44px;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.footer-social {
  max-width: 190px;
  margin-left: auto;
}

.footer-social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  list-style-type: none;
}

.footer-social__item {
  margin-right: 8px;
  margin-bottom: 8px;
  width: 56px;
  height: 44px;
  background-color: #000000;
}

.footer-social__item:nth-child(3n) {
  margin-right: 0;
}

.footer-social__link {
  display: block;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.footer-social__link--tw {
  background-image: url("../images/icons/twitter.svg");
}

.footer-social__link--vk {
  background-image: url("../images/icons/vk.svg");
}

.footer-social__link--insta {
  background-image: url("../images/icons/insta.svg");
}

.footer-social__title {
  margin-top: 0;
  margin-bottom: 14px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.about-text {
  margin: 0;
  line-height: 20px;
}

.html-academy-link {
  color: #dbb590;
}

/* Внутренние страницы */
.inner-header {
  margin-bottom: 32px;
}

.inner-header__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

/* Каталог */
/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 32px;
}

.breadcrumbs__item:not(.breadcrumbs__item--current)::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -20px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  transform: rotate(45deg);
}

.breadcrumbs__link {
  line-height: 22px;
  color: inherit;
}


.breadcrumbs__link--current {
  color: #595959;
}

/* catalog-products */

.catalog-products {
  display: flex;
}

/* Каталог-фильтр */
.catalog-filter__group {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  border: none;
}

.catalog-filter {
  width: 220px;
  margin-right: 20px;
}

.catalog-filter__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter__item {
  margin-bottom: 16px;
}

.catalog-filter__item:last-child {
  margin-bottom: 0;
}

.catalog-filter__title {
  margin-bottom: 22px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control__mark {
  position: absolute;
  top: 5px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #242424;
}

.control__input[type="radio"]+.control__mark {
  border-radius: 50%;
}

.control:hover .control__mark {
  border-color: #af7842;
}

.control__input:disabled+.control__mark {
  border-color: #bdbdbd;
}

.control__input[type="checkbox"]:checked+.control__mark::before,
.control__input[type="checkbox"]:checked+.control__mark::after {
  position: absolute;
  top: 5px;
  left: 1px;
  height: 2px;
  width: 10px;
  background-color: #242424;
  content: "";
}

.control__input[type="radio"]:checked+.control__mark::before,
.control__input[type="radio"]:checked+.control__mark::after {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6px;
  width: 6px;
  background-color: #242424;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  content: "";
}

.control__input[type="checkbox"]:checked+.control__mark::before {
  transform: rotate(45deg);
}

.control__input[type="checkbox"]:checked+.control__mark::after {
  transform: rotate(-45deg);
}

.control__label {
  font-weight: 700;
  line-height: 22px;
}

/* Range */
.range__scale {
  position: relative;
  height: 4px;
  width: 100%;
  margin-bottom: 16px;
  background-color: #242424;
  border-radius: 2px;
}

.range__bar {
  position: absolute;
  top: 0;
  height: 4px;
  background-color: #af7842;
  border-radius: 2px;
}

.range__toggle {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #242424;
  transform: translateY(-50%);
  cursor: pointer
}

.range-toggle--min {
  left: -10px;
}

.range-toggle--max {
  right: -10px;
}

.range__toggle:hover {
  background-color: #dbb590;
}

.range__toggle:active,
.range__toggle:focus {
  outline: 3px solid #af7842;
}

.range__wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter__label {
  display: flex;
  margin-right: 5px;
}

.catalog-filter__label span {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
}

.range__input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/*  catalog-right-column*/
.catalog-right-column {
  display: flex;
  flex-direction: column;
  width: 700px;
}

/* Select */
.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 260px;
  margin-right: auto;
}

.select-control {
  width: 100%;
  padding: 8px 16px;
  padding-right: 48px;
  font: inherit;
  font-weight: 700;
  line-height: 24px;
  color: #242424;
  background-color: #ffffff;
  border: 2px solid #242424;
  background-image: url(../images/icons/angle-down.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #af7842;
}

.select-control:focus {
  outline: 2px solid #dbb590;
}

/* Sorting */
.sorting-container {
  display: flex;
  margin-bottom: 16px;
  padding: 16px;
  color: #242424;
  background-color: #ffffff;
}

.sorting-type {
  margin-right: auto;
}

.sorting-container .button {
  width: 56px;
  height: 44px;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 44px;
  background-color: #000000;
}

.card-grid-toggle:focus,
.pagination__link:focus,
.slider__button:focus {
  outline: 2px solid #dbb590;
  background-color: #4e2e0e;
}

.card-grid-toggle svg {
  fill: #ffffff;
}

.card-grid-toggle--current {
  background-color: #ffffff;
}

.card-grid-toggle--current svg {
  fill: #000000;
}

.card-grid-toggle:hover svg,
.card-grid-toggle:focus svg {
  fill: #ffffff;
}

/* Карточки товара */
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  list-style-type: none;
}

.product-list__item {
  display: grid;
  grid-template-rows: 200px min-content auto min-content 16px;
  grid-template-columns: 16px 188px 16px;
  background-color: #ffffff;
}

.product-list__link {
  text-decoration: none;
}

.product-list__link--image {
  grid-column: 1/-1;
}

.product-list__link-title,
.product-list__price,
.product-list__button {
  grid-column: 2/3;
}

.product-list__link-title {
  margin-top: 16px;
  margin-bottom: 8px;
}


.product-list__title {
  margin: 0;
  font-weight: 700;
  color: #000000;
}

.product-list__price {
  margin-bottom: 16px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #814b18;
}

/* Пагинация */
.pagination-container {
  display: flex;
  padding: 16px;
  background-color: #ffffff;
}

.pagination {
  display: flex;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
}

.pagination__item:not(:last-child) {
  margin-right: 8px;
}

.pagination__link {
  display: block;
  width: 50px;
  height: 44px;
  padding: 14px 20px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
}

.pagination__link--prev,
.pagination__link--next {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.pagination__link--prev {
  background-image: url("../images/icons/angle-left.svg");
}

.pagination__link--next {
  background-image: url("../images/icons/angle-right.svg");
}

.pagination__link--current {
  color: #242424;
  background-color: #ffffff;
}

.pagination__link--disabled {
  color: #ffffff;
  background-color: #595959;
}

/* Popover */
.popover {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 420px;
  min-height: 294px;
  padding: 40px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  color: #242424;
  background-color: #ffffff;
  text-transform: uppercase;
  box-shadow: 0px 18px 40px rgba(79, 70, 60, 0.16);
}

.popover--open {
  display: block;
}

.popover__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 35px;
  color: #000000;
}

.popover__close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 72px;
  height: 70px;
}

.popover--cart .popover__close-button {
  padding-left: 44px;
  background-image: url("../images/icons/cart.svg");
  background-repeat: no-repeat;
  background-position: 22px center;
}

.popover__content {
  height: 100%;
}

.cart-items__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cart-item {
  display: grid;
  grid-template-columns: 284px 56px;
}

.cart-item .button {
  grid-row: 1/3;
  grid-column: 2/4;
}

.cart-item+.cart-item {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px dashed #242424;
}

.cart-item__title {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 20px;
  line-height: 28px;
}

.cart-item__price {
  margin: 0;
  color: #af7842
}

/* Modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8)
}

.modal--close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0px 18px 40px rgba(79, 70, 60, 0.16);
}

.modal--auth {
  width: 440px;
  min-height: 403px;
  padding: 40px;
}

.modal__close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 56px;
  height: 44px;
  background-color: transparent;
  background-image: url("../images/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.modal-content__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
  color: #000000;
}

/* auth-form */

.auth-form .field__group {
  margin-bottom: 16px;
}

.auth-form__user-options {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.auth-form__user-options .control__label {
  font-weight: 400;
}

.auth-form__recovery {
  line-height: 22px;
  color: inherit;
}

.auth-form .button {
  width: 100%;
}

.auth-form .button+.button {
  margin: 0;
  margin-top: 16px;
}

.auth-form__register {
  color: #000000;
  background-color: #ffffff;
}
