/* PT Sans */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2"),
    url("../fonts/ptsans-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2"),
    url("../fonts/ptsans-700.woff") format("woff");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #fbf7f4;
  background-image: url("/images/noisy-texture.png");
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.button--feedback {
  color: #000000;
  background-color: #ffffff;
}

.button--light {
  color: #242424;
  background-color: #ffffff;
}

/* Шапка */
.page-header {
  color: #ffffff;
  background-color: #000000;
}

/* Навигация */
.navigation {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.navigation__logo {
  width: 140px;
  margin-right: 100px;
}


.navigation__list {
  margin: 0;
  padding: 0;
  width: 430px;
  list-style-type: none;
}

.navigation__list--user {
  max-width: 250px;
  margin-left: auto;
}

.navigation__link {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  line-height: 22px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/* Main */
.main-container {
  flex-grow: 1;
}

.main--index {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/index-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* Page-container */
.page-container {
  width: 940px;
  margin: 0 auto;
}

/* Логотип */
.logo {
  display: block;
  margin: 0 auto;
}

/* Преимущества */
.advantages__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.advantages__item {
  width: 277px;
}

.advantages__title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

/* Index-columns */
.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  color: #242424;
  background-color: #fbf7f4;
  background-image: url("../images/noisy-texture.png");
}

/* Популярные услуги */
.services {
  width: 390px;
  text-transform: uppercase;
}

.services__title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
}

.services__list {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.services__price {
  font-family: "PT Sans Narrow", sans-serif;
  color: #af7842;
}

/* Галлерея */
.gallery {
  width: 390px;
}

.gallery__title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

/* Контакты */
.contacts {
  width: 350px;
  font-weight: 700;
}

.contacts__title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

.contacts__subtitle {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #af7842;
  text-transform: uppercase;
}

.contacts__address {
  font-style: normal;
}

.contacts__address-text {
  font-family: "PT Sans", sans-serif;
}

.contacts__phone {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #242424;
}

/* Форма записи */
.appointment {
  width: 430px;
}

.appointment__title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

.appointment__text {
  color: #595959;
}

.appointment__form-label-text {
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Футер */
.page-footer {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: #242424;
  background-image: url("../images/noisy-texture.png");
}

.page-footer__container {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.footer-contacts {
  width: 200px;
  margin-right: 130px;
}

.footer-contacts__address-text {
  line-height: 22px;
}

.footer-contacts__phone {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: inherit;
}

.footer-contacts__link {
  font-size: 20px;
  line-height: 26px;
  color: inherit;
}

.newsletter-form {
  width: 277px;
}

.newsletter-form__title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.footer-social {
  max-width: 190px;
  margin-left: auto;
}

.footer-social__title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.about-text {
  line-height: 20px;
}

.html-academy-link {
  color: #dbb590;
}

/* Внутренние страницы */
.inner-header__title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

/* Каталог */
/* Хлебные крошки */
.breadcrumbs__link {
  line-height: 22px;
  color: inherit;
}

.breadcrumbs__link--current {
  color: #595959;
}

/* catalog-products */

.catalog-products {
  display: flex;
}

/* Каталог-фильтр */
.catalog-filter {
  width: 220px;
  margin-right: 20px;
}

.catalog-filter__title {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.control__label {
  font-weight: 700;
  line-height: 22px;
}

/*  catalog-right-column*/
.catalog-right-column {
  display: flex;
  flex-direction: column;
  width: 700px;
}

/* Sorting */
.sorting-container {
  color: #242424;
  background-color: #ffffff;
}

/* Карточки товара */
.product-list__item {
  background-color: #ffffff;
}

.product-list__link {
  text-decoration: none;
}

.product-list__title {
  font-weight: 700;
  color: #000000;
}

.product-list__price {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #814b18;
}

/* Пагинация */
.pagination {
  background-color: #ffffff;
}

.pagination__link {
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
}

.pagination__link--current {
  color: #242424;
  background-color: #ffffff;
}

.pagination__link--disabled {
  color: #ffffff;
  background-color: #595959;
}
